.options {
    display: flex;
}

.option {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border: 1px solid black;
}

.option:hover {
    background-color: #d5d5d5;
}

/*Conteudo direita*/

.content{
    height: fit-content;
}
.main-content{
    border-left: solid;
    padding-left: 5%;
}

.main-content h1{
    padding-top: 60px;
}

.text-and-code{
    padding:0px 50px;
}

.text-and-code p{
    padding:50px 0px 50px 0px;
    width: 87%;
}

.language-javascript{
    width: fit-content;
    border: none !important;
}

.option-side{
    cursor: pointer;
    padding: 30px;
    width: 200px;
    text-align: left;
    border-bottom: 1px solid #3d3d3d;
    color: black;
}
.option-side:hover{
    background-color: #c6c6c6;
}

.option-nav1:hover{
    background-color: #003783;
}

.option-nav:hover{
    background-color: #404040;
}



