/* Remove margens e padding de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Opcional: remove também margens padrão no body */
body {
    margin: 0;
    padding: 0;
}
.options {
    display: flex;

}

.option {
    cursor: pointer;
    flex: 1; /* Cada bloco ocupa um terço da largura */
    padding: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.option:hover {
    background-color: #d5d5d5;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside; /* Opcional, se quiser que o marcador fique dentro do conteúdo */
    list-style-type: none; /* Remove os marcadores (bolinhas, números, etc.) */
}

.content {
    display: block; /* Alinha barra lateral e conteúdo principal lado a lado */
    border-top:1px solid #3d3d3d;
}
.sidebar {
    border-right: 3px solid #9f9f9f;
    display: block;
    height: 100vh; /* Faz com que a sidebar ocupe toda a altura da janela */
}
.item {
    width: 300px; 
    border-bottom:1px solid #3d3d3d;
    padding: 20px;
}
.main-content{
    padding-left: 50px;
    padding-top: 35px;
}
p{
    padding: 40px
}
